*{
    padding: 0px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav {
    background-color: #eee;
    height: 65px;
}

label.logo {
    float: left;
    padding-left: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    line-height: 60px;
    color:rgba(228, 23, 23, 0.322)

}

label.logo a.lglink {
    color: rgb(43, 43, 43);
}
nav ul {
    padding: 8px;
    float: right;
}
nav ul li {
    display: inline-block;
}

nav ul li a {
    color: rgb(49, 49, 49);
    padding: 4px;
    border-radius: 10px;
    text-transform: uppercase;
}

a.active,a:hover {
    background: gainsboro;
    
}